<!DOCTYPE html>
<html>
  
<head>
	<title>Hashery</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
</head>
  
<body>
<div class="bgimg">
  <div class="middle">
  	<img src="logo-transparent.png">
    <h1>Secure, Scalable Data Mining Infrastructure</h1>
    <hr>
  </div>
</div>
</body>
  
</html>