* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
    }

body {
	background-color: #1e1d1d;
}

.logo {
	width: 13rem;
	height: auto;
}

.hero {
	color: #ecd33a;
	font-family: "Times New Roman";
	font-size: 6rem;
}

hr {
	border-color: #ecd33a;
	background-color: #ecd33a;
}